

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     overflow: scroll;
     overflow-x: hidden;
 }
 
 ::-webkit-scrollbar {
     width: 0px;
     /* remove scrollbar space */
     background: transparent;
     /* optional: just make scrollbar invisible */
 }
 
 html,
 body {
     font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
     font-weight: 400;
     font-size: 100%;
     color: #333;
     height: 100%;
 }
 
 .center-text {
     text-align: center;
 }
 
 div.contain {
     margin-top: 30vh;
     padding: 20px;
     height: 50vh;
     
 }
 
 img.logo {
     display: block;
     margin: 0 auto;
     max-width: 100%;
     margin-bottom: 5%;
 }

 
 .contain h2 {
     font-family: 'Open Sans', sans-serif;
     font-size: 3.7rem;
     color: #F2F2F2;
     font-weight: 400;
     
 }
.second h2{
    display: inline-block;
    line-height: 140%;
}
.second h2::after{
        content: " ";
		display: block;
		background: #e2cef9;
		width: 30%;
        height: 2px;
}
h3 {
			position: relative;
			z-index: 1;			
			margin: 0;
			font-family: 'Ubuntu', sans-serif;
			font-size: 1.25em;
			line-height: 2.5em;
			font-weight: 300;
           letter-spacing: 1px;
}
h3::before{
                content: "";
				position: absolute;
				z-index: -1;
				background-color: #e2cef9; ;
				width: 2.5em;
				height: 2.5em;
				border-radius: 50%;
}
.second span{
    padding-left: 15px;
}
.second p{
    padding-left: 15px;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.1em;
			line-height: 1.3em;
			font-weight: 400;
			color: #959595;
}
.desc a{
    position: relative;
    top:  60px;
    width: 200px;
}
 h4 {
     color: grey;
     margin-left: 32%;
     margin-top: 3%;
 }
 
 footer {
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 20px;
 }
 
 footer p {
     font-weight: 300;
     font-size: 1.0em;
 }

 
 
 /* .myButton {
      -moz-box-shadow: 0px 10px 14px -7px #276873;
      -webkit-box-shadow: 0px 10px 14px -7px #276873;
      box-shadow: 0px 10px 14px -7px #276873;
      background-color:#599bb3;
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      border-radius:8px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:16px;
      font-weight:bold;
      padding:13px 32px;
      text-decoration:none;
      text-shadow:0px 1px 0px #3d768a;
      margin-left: 3%; 
    }
    .myButton:hover {
      background-color:#408c99;
      color: white;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }*/
 
 .svg {
     margin-top: 5%;
     margin-left: 50%;
     position: absolute;
     bottom: 15%;
 }
 
 .section .first {
     height: 100vh;
     
     position: relative;
 }
 
 .section {
     width: 100%;
 }
 
 .parallax-container {
     height: 100vh;
 }
 
 .parallax-container.t {
     height: 50vh!important;
 }
 
 .iphone {
     height: 640px;
 }
 /********SVG *******
.arrows {
	width: 60px;
	height: 72px;
	position:relative;
	left: 10%;
	margin-left: -30px;
   
    
    
	
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome 
}***/
 
 svg+svg {
     margin-top: 2em;
 }
 
 .wrapper {
     max-width: 30px;
     margin: 0 auto;
     text-align: center;
     padding-top: 2em;
 }
 
 svg {
     width: 30px;
     max-height: 40px;
     display: inline-block;
 }
 
 .arrow-down path {
     stroke: white;
     fill: transparent;
     stroke-width: 1px;
     animation: arrow 2s infinite;
     -webkit-animation: arrow 2s infinite;
 }
 
 @keyframes arrow {
     0% {
         opacity: 0
     }
     40% {
         opacity: .8
     }
     80% {
         opacity: 0
     }
     100% {
         opacity: 0
     }
 }
 
 @-webkit-keyframes arrow
 /*Safari and Chrome*/
 
 {
     0% {
         opacity: 0
     }
     40% {
         opacity: .8
     }
     80% {
         opacity: 0
     }
     100% {
         opacity: 0
     }
 }
 
 .arrow-down path.a1 {
     animation-delay: -1s;
     -webkit-animation-delay: -1s;
     /* Safari 和 Chrome */
 }
 
 .arrow-down path.a2 {
     animation-delay: -0.5s;
     -webkit-animation-delay: -0.5s;
     /* Safari 和 Chrome */
 }
 
 .arrow-down path.a3 {
     animation-delay: 0s;
     -webkit-animation-delay: 0s;
     /* Safari 和 Chrome */
 }
 /*********CONTACT*****/
.t p{
    color: #F2F2F2;
    font-size: 2rem;
    font-weight: 100;
    
}
.contact{
    height: 100vh;
    
}
.contactInput > *{
    height: 10vh;
    margin-top: 2vh;
}
.inContact{
    margin-top: 10vh;
    height: 80vh;
       
}
form{
    height: 60vh;
}

.social{
    margin-top: 10vh;
}